/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateY(-20%);
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/public/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 0 1 400px;
  max-width: 100%;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 400px;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    padding-top: 40px;
    min-height: auto;
    padding-bottom: 0;
  }

  .leftSection {
    transform: none;
    margin-bottom: 20px;
  }

  .rightSection {
    flex: 0 1 100%;
  }

  .photo {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*==================слайд шоу 1=========================*/

/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/public/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 100%;
  max-width: 600px; 
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  margin-left: 40px; 
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    padding-top: 40px;
    min-height: auto;
    padding-bottom: 0;
  }

  .leftSection {
    margin-bottom: 20px;
  }

  .rightSection {
    flex: 0 1 100%;
  }

  .photo {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-left: 0; 
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*====================слайд шоу 1 плавна зміна===========================*/

/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    padding-top: 40px;
    min-height: auto;
    padding-bottom: 0;
  }

  .leftSection {
    margin-bottom: 20px;
  }

  .rightSection {
    flex: 0 1 100%;
  }

  .photo {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*==========================transition-transform====================*/

/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.2s ease-in-out;
  transform: scale(1); /* Невелике збільшення для плавного ефекту */
/* }

.photo.active {
  opacity: 1;
  transform: scale(1); /* Повернення до нормального розміру при появі */
/* }

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    padding-top: 40px;
    min-height: auto;
    padding-bottom: 0;
  }

  .leftSection {
    margin-bottom: 20px;
  }

  .rightSection {
    flex: 0 1 100%;
  }

  .photo {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*==============мобільна версія фото====================*/

/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 400px; /* Забезпечує висоту контейнера для зображень */
/* overflow: hidden; /* Приховує вихід зображень за межі контейнера */
/* }

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.photo.active {
  opacity: 1;
}

/* Мобільна версія */
/* @media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    padding-top: 40px;
    min-height: auto;
    padding-bottom: 0;
  }

  .leftSection {
    margin-bottom: 20px;
  }

  .rightSection {
    flex: 0 1 100%;
    position: relative;
    min-height: 300px; /* Забезпечує висоту контейнера для мобільних пристроїв */
/* }

  .photo {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .photo.active {
    opacity: 1;
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*==========================================*/

/* .homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/images/Sheva-white-min.png");
}

.description {
  max-width: 500px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 400px;
  overflow: hidden;
  margin-bottom: 0;
  margin-left: 40px;
}

.photo {
  width: 100%;
  max-width: 550px;
  min-height: 500px;
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute; Всі фото накладаються одне на одне
  margin-bottom: 0;
}

.photo.active {
  opacity: 1; Активне фото буде видимим
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 0px 10px;

    min-height: auto;
    padding-bottom: 0;
    min-height: 80vh;
  }

  .leftSection {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .rightSection {
    flex: 0 1 100%;
    min-height: 300px;
    margin-bottom: 0;
    margin-left: 0;
    align-items: flex-end;
  }

  .photo {
    min-height: 300px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 0;
  }

  .newPhoto,
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
} */

/*===========================нові стилі 100924==============================*/

.homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 0 20px;
  /* padding-left: 20px;
  padding-top: 40px; */
  max-width: 1200px;
  margin: 0 auto;
  /* min-height: 80vh; */
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; /* Позиціонування по центру вертикалі */
  max-width: 40%; /* Адаптивна ширина для лівої секції */
  margin-bottom: 20px;
}

.newPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

[data-theme="dark"] .newPhoto {
  content: url("/images/Sheva-white-min.png");
}

.description {
  max-width: 100%; /* Забезпечує адаптацію тексту */
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  margin-left: 40px;
}

.photo {
  width: 100%;
  /* max-width: 500px; */
  /* min-height: 580px; */
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
}

.photo.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 0 10px;
    min-height: auto;
  }

  .leftSection {
    max-width: 100%; /* Ширина змінюється для мобільних */
    margin-bottom: 0;
    align-items: center;
    padding-bottom: 0;
  }

  .rightSection {
    width: 100vmin; /* Адаптація правої частини до ширини екрану */
    margin-left: 0;
    min-height: 300px;
  }

  .photo {
    /* min-height: 300px; */
    height: auto;
    max-width: 100vh;
    object-fit: contain;
  }

  .newPhoto,
  .description {
    text-align: center;
  }
}

@media (min-width: 769px) {
  .homePage {
    flex-direction: row;
  }

  .leftSection {
    align-items: flex-start;
    max-width: 45%; /* Повертаємо адаптивну ширину для десктопів */
  }

  .rightSection {
    flex-basis: 55%;
  }
}
