/* .legacyPage {
  padding: 20px;
  padding-top: 40px;
  text-align: left;
}

.worksList {
  list-style: none;
  padding: 0;
}

.workLink {
  font-size: 16px;
  color: #132946;
  text-decoration: none;
  display: inline;
  margin-bottom: 10px;
}

.legacyPage .workLink:hover {
  font-weight: 500;
  color: #244e86;
} */

/* Стиль для темної теми */
/* [data-theme="dark"] .workLink {
  color: #e0e0e0;
  font-weight: 300; Тонкий шрифт
}

[data-theme="dark"] .legacyPage .workLink:hover {
  color: #928c8c;
} */

/* Адаптація для мобільних пристроїв */
/* @media (max-width: 768px) {
  .legacyPage {
    padding: 10px;
    padding-top: 40px;
  }

  .worksList {
    padding-left: 15px; /* Забезпечення відступу для мобільних пристроїв */
/* }
} */

/*=============перелік категорій + слайдшоу + стрілка догори=========*/

/* .legacyPage {
  padding: 20px;
  padding-top: 40px;
  text-align: left;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categoriesList {
  margin-bottom: 20px;
}

.categoriesList ul {
  list-style: none;
  padding: 0;
}

.categoryLink {
  font-size: 18px;
  color: #132946;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.categoryLink:hover {
  color: #244e86;
}

.worksList {
  list-style: none;
  padding: 0;
}

.workLink {
  font-size: 16px;
  color: #132946;
  text-decoration: none;
  display: inline;
  margin-bottom: 10px;
}

.legacyPage .workLink:hover {
  font-weight: 500;
  color: #244e86;
}

.slideShow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px; 
  width: 300px; 
  overflow: hidden;
  margin-left: 40px;
  position: relative;
}

.photo {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute; 
}

.photo.active {
  opacity: 1; 
}


.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #132946;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  line-height: 20; 
}

.scrollToTop::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid white; 
}

.scrollToTop:hover {
  background-color: #244e86;
}


[data-theme="dark"] .workLink {
  color: #e0e0e0;
  font-weight: 300;
}

[data-theme="dark"] .legacyPage .workLink:hover {
  color: #928c8c;
}

[data-theme="dark"] .categoryLink {
  color: #e0e0e0;
}

[data-theme="dark"] .categoryLink:hover {
  color: #928c8c;
}

[data-theme="dark"] .scrollToTop {
  background-color: #132946; 
}

[data-theme="dark"] .scrollToTop:hover {
  background-color: #244e86; 
}


@media (max-width: 768px) {
  .legacyPage {
    padding: 10px;
    padding-top: 40px;
  }

  .mainContent {
    flex-direction: column;
    align-items: center;
  }

  .categoriesList {
    margin-bottom: 10px;
    order: 1;
  }

  .slideShow {
    flex: 0 1 100%;
    min-height: 300px; 
    width: 100%; 
    margin-bottom: 0;
    margin-left: 0;
    align-items: flex-end;
    order: 2;
  }

  .worksList {
    padding-left: 15px;
    margin-bottom: 0; 
  }

  .photo {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
} */

/*=============перелік категорій по три в ряд=========*/

html {
  scroll-behavior: smooth; /* Додає плавний перехід для всіх елементів на сторінці */
}

.legacyPage {
  padding: 20px;
  padding-top: 40px;
  text-align: left;
}

.legacyPage h3 {
  margin-bottom: 5px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categoriesList {
  margin-bottom: 20px;
}

.categoriesList ul {
  display: flex; /* Використовуємо flex для вирівнювання елементів */
  flex-wrap: wrap; /* Додаємо перенесення на новий ряд */
  gap: 20px; /* Відстань між елементами */
  padding: 0;
  list-style: none; /* Прибираємо стандартні стилі списку */
}

.categoriesList li {
  flex: 1 1 calc(33.333% - 20px); /* Розмір кожного елемента приблизно третина ширини з урахуванням відступів */
  box-sizing: border-box; /* Включає padding і border в ширину і висоту */
  margin-bottom: 20px; /* Відстань знизу між рядами */
}

.categoryLink {
  font-size: 18px;
  font-weight: 600; /* Жирний шрифт */
  color: #132946;
  text-decoration: none;
  display: block;
  text-align: start; /* Вирівнювання тексту по центру */
  padding: 10px; /* Відступи всередині елементу */
  padding-left: 20px;
  background-color: #f0f0f0; /* Фоновий колір для кожної категорії */
  border-radius: 5px; /* Згладжені кути для елементів */
  transition: background-color 0.3s; /* Анімація при наведенні */
  min-height: 60px; /* Мінімальна висота для двох рядків тексту */
  display: flex; /* Використовуємо flex для вирівнювання елементів */
  align-items: center; /* Вирівнюємо по вертикалі */
  justify-content: start; /* Вирівнюємо по горизонталі */
}

/* .categoryLink::before {
  content: "\1D11E"; Юнікод для скрипічного ключа
  margin-right: 8px; Відступ між скрипічним ключем та текстом
  font-size: 1.7em; Розмір символу скрипічного ключа
} */

.categoryLink:hover {
  background-color: #244e86; /* Фоновий колір при наведенні */
  color: #fff; /* Колір тексту при наведенні */
}

/* Стиль для темної теми */
[data-theme="dark"] .categoryLink {
  background-color: #333; /* Темний фон для категорій */
  color: #e0e0e0; /* Білий колір тексту */
  border: 1px solid #555; /* Темний колір обведення */
}

[data-theme="dark"] .categoryLink:hover {
  background-color: #777; /* Світліший фон при наведенні */
  color: #fff; /* Колір тексту при наведенні */
}

.worksList {
  list-style: none;
  padding: 0;
}

.workLink {
  font-size: 16px;
  color: #132946;
  text-decoration: none;
  display: inline;
  margin-bottom: 10px;
}

.legacyPage .workLink:hover {
  font-weight: 500;
  color: #244e86;
}

/* Стиль для кнопки "Повернутися на початок" */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #132946;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; /* Додаємо flex-контейнер */
  justify-content: center; /* Вирівнюємо по горизонталі */
  align-items: center; /* Вирівнюємо по вертикалі */
  padding: 0; /* Відключаємо padding */
  line-height: 20; /* Забезпечує, що лінія буде точно по центру */
}

.scrollToTop::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid white; /* Колір і товщина стрілки */
}

.scrollToTop:hover {
  background-color: #244e86;
}

/* Стиль для темної теми */
[data-theme="dark"] .workLink {
  color: #e0e0e0;
  font-weight: 300;
}

[data-theme="dark"] .legacyPage .workLink:hover {
  color: #928c8c;
}

[data-theme="dark"] .scrollToTop {
  background-color: #132946; /* Темний фон для кнопки */
}

[data-theme="dark"] .scrollToTop:hover {
  background-color: #244e86; /* Світліший фон при наведенні */
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 768px) {
  .legacyPage {
    padding: 10px;
    padding-top: 40px;
  }

  .mainContent {
    flex-direction: column;
    align-items: center;
  }

  .categoryLink::before {
    display: none;
  }

  .categoriesList {
    margin-bottom: 10px;
    order: 1;
  }

  .worksList {
    padding-left: 15px;
    margin-bottom: 0; /* Зменшено відступ знизу для мобільних */
  }
}
